<h1 class="banner red">{{main.headline}}</h1>
<travel-planner-flights-element
  ng-prop-background_color="main.backgroundColor"
  ng-prop-is_element="main.isElement"
></travel-planner-flights-element>
<travel-planner-account-element
  ng-prop-background_color="main.backgroundColor"
  ng-prop-is_element="main.isElement"
></travel-planner-account-element>
