/* You can add global styles to this file, and also import other style files */
body {
  max-width: 600px;
  margin: 0 auto;
  min-width: 300px;
  display: block;
  font-family: sans-serif;
}

.banner {
  padding: 10px;
  max-width: 600px;
  border-radius: 3px;
  text-align: center;
  color: white;

  &.red {
    background-color: #a41516;
  }

  &.blue {
    background-color: #143055;
  }

  &.gradient {
    background: rgb(20,48,85);
    background: linear-gradient(135deg, rgba(20,48,85,1) 27%, rgba(164,21,22,1) 89%);
  }

  &.grey {
    background-color: dimgrey;
  }
}
