<h1>Travel Planner</h1>
<nav>
  <a routerLink="angular">Angular Route</a> |
  <a routerLink="angularjs">AngularJS Route</a>
  <p>
    <em>
      <small><strong>Note:</strong> navigation resides in the Angular app</small>
    </em>
  </p>
</nav>

<router-outlet></router-outlet>
